@font-face {
    font-family: 'PoppinsB';
    src: url('../fonts/Poppins-ExtraBold.eot');
    src: url('../fonts/Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-ExtraBold.woff2') format('woff2'),
        url('../fonts/Poppins-ExtraBold.woff') format('woff'),
        url('../fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PoppinsBi';
    src: url('../fonts/Poppins-ExtraBoldItalic.eot');
    src: url('../fonts/Poppins-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Poppins-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}



body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #BF8D28 50%, #000000 50%);
    font-family: 'PoppinsB';
    font-size: 16px;
}

.elements{
    font-family: 'PoppinsB';
    font-size: 3rem;
    color: #FFFFFF;
    text-align: center;
}

.elements p{
    background: -webkit-linear-gradient(#EADA7E, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}